<div>
    {{#each actorActions}}
        <h2>{{label}}</h2>
        <div class="action-grid">
            {{#each items}}
                <div style="background-image: url('{{img}}');">
                    {{> "helium-dnd5e-sheet.actor-actions-item-card" item=this}}
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>