:root {
  --helium-cs-core-width: 350px;
  --helium-cs-background: rgba(14, 30, 37, 0.32);
  --helium-cs-background-2: rgba(225, 225, 225, 0.3);
  --helium-cs-forground: rgba(255, 255, 255, 0.8);
  --helium-cs-color-hover: #62b3df;
  --helium-cs-player-color: #577687;
}

.helium-dnd5e-sheet {
  /* Fuck Foundry Styles */
}
.helium-dnd5e-sheet .window-content {
  background-image: none;
  background-color: var(--helium-cs-background);
  backdrop-filter: blur(10px);
  color: var(--helium-cs-forground);
  padding: 0px;
}
.helium-dnd5e-sheet input[type=text],
.helium-dnd5e-sheet input[type=number],
.helium-dnd5e-sheet input[type=password],
.helium-dnd5e-sheet input[type=date],
.helium-dnd5e-sheet input[type=time],
.helium-dnd5e-sheet input[type=search] {
  background: transparent;
  border-radius: 0;
  border-width: 0;
  color: var(--helium-cs-forground);
}
.helium-dnd5e-sheet form {
  /* Setup Layout */
  display: flex;
  flex-direction: row;
  /* Core Player Abilities */
}
.helium-dnd5e-sheet form header.sheet-header {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  flex: 0 1 var(--helium-cs-core-width);
  padding: 0.25rem 1.5rem;
}
.helium-dnd5e-sheet form header.sheet-header .header-details > .character-details {
  display: flex;
}
.helium-dnd5e-sheet form header.sheet-header .header-details input[name=name] {
  color: var(--helium-cs-player-color);
  font-size: 1.25rem;
  font-weight: 600;
  height: auto;
  margin-bottom: 0.25rem;
  padding: 0.5rem 0rem;
  text-align: right;
}
.helium-dnd5e-sheet form header.sheet-header .header-details img.profile,
.helium-dnd5e-sheet form header.sheet-header .header-details video.profile {
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--helium-cs-player-color);
  height: 125px;
}
.helium-dnd5e-sheet form header.sheet-header .header-details .character-race {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
.helium-dnd5e-sheet form header.sheet-header .header-details .character-race h4 {
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.7;
}
.helium-dnd5e-sheet form header.sheet-header .actor-buttons {
  display: flex;
  margin: 1rem 0rem;
  justify-content: center;
}
.helium-dnd5e-sheet form header.sheet-header .actor-buttons button {
  aspect-ratio: 1;
  align-items: center;
  background-color: var(--helium-cs-player-color);
  border-width: 0;
  color: var(--helium-cs-forground);
  font-size: 1.5rem;
  flex: 0 1;
  justify-content: center;
  margin: 0 0.5rem;
  min-width: 39px;
}
.helium-dnd5e-sheet form header.sheet-header .actor-buttons button i {
  margin: 0px;
}
.helium-dnd5e-sheet form header.sheet-header .ability-scores {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}
.helium-dnd5e-sheet form header.sheet-header .ability-scores li.ability {
  align-items: center;
  border: 2px solid var(--helium-cs-background-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}
.helium-dnd5e-sheet form header.sheet-header .ability-scores li.ability h4.ability-name {
  background-color: var(--helium-cs-background-2);
  font-size: var(--font-size-12);
  font-weight: 600;
  padding: 0.25rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.helium-dnd5e-sheet form header.sheet-header .ability-scores li.ability input.ability-score {
  font-size: var(--font-size-24);
  text-align: center;
}
.helium-dnd5e-sheet form header.sheet-header .ability-scores li.ability .ability-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}
.helium-dnd5e-sheet form header.sheet-header .ability-scores li.ability .ability-buttons button {
  aspect-ratio: 1;
  align-items: center;
  background-color: var(--helium-cs-player-color);
  border-width: 0;
  color: var(--helium-cs-forground);
  font-size: var(--font-size-12);
  flex: 0 1;
  justify-content: center;
  margin: 0;
}
.helium-dnd5e-sheet form header.sheet-header .ability-scores li.ability .ability-buttons button.ability-mod {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.helium-dnd5e-sheet form header.sheet-header .ability-scores li.ability .ability-buttons button.ability-save {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.helium-dnd5e-sheet form header.sheet-header .ability-scores li.ability .ability-buttons button i {
  margin: 0px;
}
.helium-dnd5e-sheet form header.sheet-header .skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  background-color: var(--helium-cs-background-2);
  border-radius: 5px;
  padding: 0.3rem;
  gap: 0.3rem;
  margin-top: 1rem;
}
.helium-dnd5e-sheet form header.sheet-header .skills-list .skill {
  background-color: var(--helium-cs-player-color);
  padding: 0.3rem 0.1rem;
  border-radius: 3px;
}
.helium-dnd5e-sheet form header.sheet-header .skills-list .skill:hover {
  background-color: var(--helium-cs-color-hover);
  cursor: pointer;
}
.helium-dnd5e-sheet form header.sheet-header .skills-list .skill .skill-name-controls {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  text-transform: uppercase;
  position: relative;
}
.helium-dnd5e-sheet form header.sheet-header .skills-list .skill .skill-name-controls .roll-type-overlay {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  opacity: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  border-radius: 3px;
}
.helium-dnd5e-sheet form header.sheet-header .skills-list .skill .skill-name-controls .roll-type-overlay:hover {
  opacity: 0.5;
}
.helium-dnd5e-sheet form header.sheet-header .skills-list .skill .skill-name-controls .roll-type-overlay .adv {
  background-color: lime;
}
.helium-dnd5e-sheet form header.sheet-header .skills-list .skill .skill-name-controls .roll-type-overlay .sta {
  background-color: grey;
}
.helium-dnd5e-sheet form header.sheet-header .skills-list .skill .skill-name-controls .roll-type-overlay .dis {
  background-color: red;
}
.helium-dnd5e-sheet form header.sheet-header .skills-list .skill .skill-name-controls h4 {
  margin: 0;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
}
.helium-dnd5e-sheet form main {
  /*background-color: red;*/
  flex: 1;
}
.helium-dnd5e-sheet form main .action-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.3rem;
}
.helium-dnd5e-sheet form main .action-grid > div {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgb(14, 30, 37) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}/*# sourceMappingURL=module.css.map */